:root {
  --text-color: #000000;
  --bg-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir", sans-serif;
  transition: background-color 300ms, color 300ms, stroke 300ms, fill 300ms;
}

body {
  background-color: var(--bg-color);
}

.startAnimationContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  animation: reveal 300ms 3.5s linear forwards;
  z-index: 50;
  background-color: var(--bg-color);
}
.startAnimationContainer svg path {
  stroke: var(--text-color);
}
.startAnimationContainer svg .outer {
  stroke-dasharray: 305.924;
  animation: outer 1s linear forwards;
}
.startAnimationContainer svg .inner {
  stroke-dasharray: 142.623;
  stroke-dashoffset: 142.623;
  animation: inner 1s 1.5s forwards;
}
@keyframes inner {
  from {
    stroke-dashoffset: 142.623;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes outer {
  from {
    stroke-dashoffset: 305.924;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes reveal {
  to {
    opacity: 0;
  }
}
nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
nav .navItems {
  width: 90%;
  max-width: 1920px;
  margin: auto;
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .navItems .geLogo {
  cursor: pointer;
}
nav .navItems .geLogo path {
  stroke: var(--text-color);
}
nav .navItems .navActions {
  display: flex;
  align-items: center;
  gap: 48px;
}
nav .navItems .navActions .themeSwitch {
  cursor: pointer;
  display: grid;
  grid-template-areas: "stack";
}
nav .navItems .navActions .themeSwitch svg {
  grid-area: stack;
  transition: scale 200ms;
}
nav .navItems .navActions .themeSwitch .sunIcon {
  scale: 0;
  transition-timing-function: ease;
}
nav .navItems .navActions .themeSwitch .moonIcon {
  scale: 1;
  transition-timing-function: cubic-bezier(0.26, 0.71, 0.27, 1.45);
}
nav .navItems .navActions .themeSwitch:hover .moonIcon {
  scale: 1.1;
  transition-timing-function: ease;
}
nav .navItems .navActions .themeSwitched .sunIcon {
  scale: 1;
  transition-timing-function: cubic-bezier(0.26, 0.71, 0.27, 1.45);
}
nav .navItems .navActions .themeSwitched .moonIcon {
  scale: 0;
  transition-timing-function: ease;
}
nav .navItems .navActions .themeSwitched:hover .moonIcon {
  scale: 0;
}
nav .navItems .navActions .themeSwitched:hover .sunIcon {
  scale: 1.03;
  transition-timing-function: ease;
}
nav .navItems .navActions .navMenu {
  position: relative;
}
nav .navItems .navActions .navMenu .menuBtn {
  cursor: pointer;
  pointer-events: all;
  transition: rotate 300ms;
  width: 48px;
  height: 48px;
}
nav .navItems .navActions .navMenu .menuBtn * {
  transition: x, y, width, height, opacity;
  transition-duration: 200ms;
  transition-timing-function: ease;
  stroke: var(--text-color);
}
nav .navItems .navActions .navMenu .menuBtn:hover .vertical {
  y: 3px;
  height: 46px;
}
nav .navItems .navActions .navMenu .menuBtn:hover .horizontal {
  x: 3px;
  width: 46px;
}
nav .navItems .navActions .navMenu .menuBtn:hover .up {
  x: 41px;
}
nav .navItems .navActions .navMenu .menuBtn:hover .down {
  x: 3px;
}
nav .navItems .navActions .navMenu .menuBtn:hover .left {
  y: 3px;
}
nav .navItems .navActions .navMenu .menuBtn:hover .right {
  y: 41px;
}
nav .navItems .navActions .navMenu .menuItems {
  position: absolute;
  bottom: -56px;
  left: 50%;
  translate: -50% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}
nav .navItems .navActions .navMenu .menuItems a {
  color: var(--text-color);
  writing-mode: vertical-lr;
  rotate: 180deg;
  text-orientation: mixed;
  text-decoration: none;
  font-size: 24px;
  translate: 50%, 0;
  opacity: 0;
  border-left: solid 2px transparent;
  transition: border 300ms;
}
nav .navItems .navActions .showMenu .menuBtn {
  rotate: 45deg;
}
nav .navItems .navActions .showMenu .menuItems a:hover {
  border-color: var(--text-color);
}