#work {
  width: 90%;
  max-width: 1080px;
  margin: auto;
  padding: 150px 0;
}
#work .carousel {
  width: 100%;
  margin: auto;
  aspect-ratio: 16/9;
  overflow: visible;
  margin-top: 100px;
}
#work .carousel .innerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  transition: transform 500ms;
}
#work .carousel .carouselItem {
  scroll-snap-align: center;
  flex-shrink: 0;
  height: 100%;
  aspect-ratio: 16/9;
  transform-origin: center center;
  position: relative;
}
#work .carousel .carouselItem .itemContent {
  width: 100%;
  height: 100%;
  scale: 0.95;
  background-color: black;
  position: relative;
  cursor: pointer;
  filter: saturate(0);
  border-radius: 0 0 0 12px;
  transition: scale 300ms, filter 300ms;
}
#work .carousel .carouselItem .itemContent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 0 12px;
}
#work .carousel .carouselItem .itemContent .itemInfo {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsla(213, 10%, 21%, 0.439);
  padding: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  backdrop-filter: blur(30px);
  opacity: 0;
  transition: opacity 300ms;
  border-radius: 0 0 0 12px;
}
#work .carousel .carouselItem .itemContent .itemInfo .textContainer {
  font-family: "Avenir", sans-serif;
  color: hsl(0, 100%, 100%);
  width: 50%;
  scale: 0.9;
  transition: scale 300ms;
}
#work .carousel .carouselItem .itemContent .itemInfo .textContainer h3 {
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 12px;
}
#work .carousel .carouselItem .itemContent .itemInfo .textContainer p {
  font-weight: 300;
  font-size: 20px;
}
#work .carousel .carouselItem .itemContent .itemInfo .itemActions a {
  cursor: pointer;
  font-family: "Avenir", sans-serif;
  width: 270px;
  color: white;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 2px;
  border: solid 2px white;
  border-radius: 0 0 0 6px;
  background-color: transparent;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  transition: scale 200ms;
  margin-top: 24px;
}
#work .carousel .carouselItem .itemContent .itemInfo .itemActions a:hover {
  scale: 1.03;
}
#work .carousel .carouselItem .itemContent .itemInfo .itemActions a:active {
  scale: 0.97;
}
#work .carousel .carouselItem .itemContent .mobileContent {
  display: none;
  position: absolute;
  width: 90vw;
  bottom: 0;
  left: 50%;
  translate: -50% 120%;
  opacity: 0;
  transition: opacity 300ms;
}
#work .carousel .carouselItem .itemContent .mobileContent h3 {
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 12px;
  width: 100%;
  text-align: center;
  color: var(--text-color);
}
#work .carousel .carouselItem .itemContent .mobileContent .mobileItemActions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 24px;
}
#work .carousel .carouselItem .itemContent .mobileContent .mobileItemActions a {
  cursor: pointer;
  font-family: "Avenir", sans-serif;
  width: 270px;
  color: var(--text-color);
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 2px;
  border: solid 2px var(--text-color);
  border-radius: 0 0 0 6px;
  background-color: transparent;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  transition: scale 200ms;
}
#work .carousel .carouselItem .itemContent .mobileContent .mobileItemActions a .githubLinkIcon path {
  fill: var(--text-color);
}
#work .carousel .carouselItem .itemContent .mobileContent .mobileItemActions a .websiteLinkIcon path {
  stroke: var(--text-color);
}
#work .carousel .carouselItem .itemContent .mobileContent .mobileItemActions a:hover {
  scale: 1.03;
}
#work .carousel .carouselItem .itemContent .mobileContent .mobileItemActions a:active {
  scale: 0.97;
}
#work .carousel .carouselItem .itemContent::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 44%, 0.1);
  border: solid 2px hsla(0, 0%, 44%, 0.4);
  border-radius: 0 0 0 12px;
  z-index: -1;
  transition: width 300ms, height 300ms, top 300ms, left 300ms;
}
#work .carousel .selected .itemContent {
  scale: 1;
  filter: saturate(1);
  cursor: auto;
}
#work .carousel .selected .itemContent .itemInfo {
  opacity: 1;
  pointer-events: all;
}
#work .carousel .selected .itemContent .itemInfo .textContainer {
  scale: 1;
}
#work .carousel .selected .itemContent .mobileContent {
  opacity: 1;
  transition-delay: 300ms;
}
#work .carousel .selected .itemContent::before {
  width: 100%;
  height: 100%;
  top: 8px;
  left: 8px;
}

@media screen and (max-width: 850px) {
  #work {
    padding: 250px 0;
  }
  #work .carousel .carouselItem .itemContent .itemInfo {
    display: none;
  }
  #work .carousel .carouselItem .itemContent .mobileContent {
    display: block;
  }
  #work .carousel .selected .itemContent::before {
    top: 4px;
    left: 4px;
  }
}
@media screen and (max-width: 600px) {
  #work {
    padding: 250px 0;
  }
  #work .carousel .carouselItem .itemContent .itemInfo {
    display: none;
  }
  #work .carousel .carouselItem .itemContent .mobileContent {
    display: block;
  }
  #work .carousel .carouselItem .itemContent .mobileContent .mobileItemActions {
    flex-direction: column;
  }
}